   # Composerが生成する依存ライブラリ（ファイル数が多い。ビルドコンテキストを軽くするため）
   src/vendor
   # npm版の依存ライブラリ（ファイル数が多い。ビルドコンテキストを軽くするため）
   src/node_modules
   # DBパスワードといった機密情報が含まれているため、git管理しない
   src/.env
   # Lravel実行時のログファイル。履歴が積み重なるとサイズが増えて重くなるため除外
   src/storage/logs
   # gitの全履歴が入ったフォルダ。履歴が積み重なるとサイズが増えて重くなるため除外
   .git